game_data.json
customization_data.json

__pycache__/car_customization.cpython-312.pyc 
__pycache__/data_manager.cpython-312.pyc
__pycache__/gameplay.cpython-312.pyc 
__pycache__/main_menu.cpython-312.pyc